- if @form.errors.any?
  #error_explanation
    h3
      = @form.errors.count
      | 件のエラーがあります。
    ul
      - @form.errors.full_messages.each do |msg|
        li
          = msg
.card
  .card-content
    span.card-title
      | 乗車記録
    = form_for @form, url: car_drive_path(id: @form.drive.id, car_id: @form.drive.car_id), :method => :put do |f|
      .row
        .col.s12
          |  乗車時のメーター： 
          = @form.drive.start_meter
          br
      .row
        .col.input-field.s12
          = f.label :end_meter, '降車時のメーター'
          = f.number_field :end_meter, { value: @form.drive.start_meter, id: 'drive-end-meter' }
      p
        | 走行距離：
        span#drive-distance
          | 0
        |  km
      = f.submit "終了", class: "btn"
script[type="text/javascript"] = "window.onload = function(){ window.init_distance_syncer(#{@form.drive.start_meter}); };"
