- @cars.each do |car|
  - if car.available?
    .Card
      .Card--Content
        p.Card--Content--Title
          = car.name
        - if car.note.present?
          p.right-align[style="white-space: pre-wrap"]
            = car.note
        - if car.occupied?
          p.right-align.current-drive
            = car.current_driver.name
            | が 
            = simple_datetime car.current_drive.end_at
            | まで使用 
      - if car.occupied?
        .Card--Action
          = link_to normalize_tel(car.current_driver.phone_number) do
            = render partial: 'widgets/card_action', locals: { color: 'green', icon: 'phone' }
          = mail_to car.current_driver.email do
            = render partial: 'widgets/card_action', locals: { color: 'green', icon: 'email' }
      .Card--Action
        |  <a href="
        = car_drives_path car_id: car.id
        | " class="Card--Action--FAB btn-floating green">
        i.Card--Action--FAB--Icon
          | history
        |  <a href="
        = new_car_fuel_path car_id: car.id
        | " class="Card--Action--FAB btn-floating green">
        i.Card--Action--FAB--Icon
          | local_gas_station
        |  <a href="
        = new_car_booking_path car_id: car.id
        | " class="Card--Action--FAB btn-floating green">
        i.Card--Action--FAB--Icon
          | bookmark
        - if car.using?(current_user.id)
          |  <a href="
          = edit_car_drive_path car_id: car.id, id: car.using_drive(current_user.id).id
          | " class="Card--Action--FAB btn-floating red">
          i.Card--Action--FAB--Icon
            | done
        - else
          |  <a href="
          = new_car_drive_path car.id
          | " class="Card--Action--FAB btn-floating green">
          i.Card--Action--FAB--Icon
            | send
  - elsif car.repairing?
    .Card.unavailable
      .Card--Content
        p.Card--Content--Title
          = car.name
        p.right-align
          |  使用禁止 
