<div class="card">
  <div class="card-content">
    <span class="card-title">予約一覧</span>
    <% if object.empty? %>
      予約はありません
    <% else %>
      <div class='collection'>
        <% object.each do |booking| %>
          <div class='collection-item z-depth-1'>
            <span class='title'><%= booking.user.name %></span>
            <p><%= simple_datetime booking.start_at %> 〜 <%= simple_datetime booking.end_at %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>