<div class='card'>
  <div class='card-content'>
    <p>
      <span class='card-title'><%= title %></span>
      <%= subtitle %>
    </p>
  </div>
  <div class='card-action right-align'>
    <%= yield %>
  </div>
</div>
