<% object.each do |user| %>
<div class='card horizontal user'>
  <div class="card-content">
    <i class="material-icons medium <% if user.activation_state == 'pending' %>red-text<% else %>green-text<% end %>">
      <% if user.admin? %>
        supervisor_account
      <% else %>
        account_circle
      <% end %>
    </i>
  </div>
  <div class='card-content'>
    <p>
      <span class='card-title'><%= user.name || 'Not registered' %></span>
      <%= user.email %> <br />
      <%= user.phone_number %>
    </p>
  </div>
  <% if user.activation_state == 'pending' %>
  <div class="card-action">
    <%= link_to "Reinvite", resend_invitation_user_path(user), method: :post %>
  </div>
  <% end %>
</div>
<% end %>