.Card
  .Card--Content
    .Card--Content--Title
      |  支払履歴 
.TwoColumns
  .TwoColumns--Columns
    - @new_payments.each do |payment|
      .Card
        .Card--Content
          = form_for payment, url: admin_payments_path, html: { class: 'Form' } do |f|
            div
              = payment.user.name
              br
              = payment.amount
              | 円 
            = f.hidden_field :user_id
            = f.hidden_field :amount
            div
              = f.submit "記録", class: "Form--SubmitBtn"
  .TwoColumns--Columns
    - @saved_payments.each do |payment|
      .Card
        .Card--Content
          div
            = payment.user.name
            br
            = payment.amount
            | 円
            br
            = simple_datetime payment.created_at
        .Card--Action
          = link_to admin_payment_path(payment.id), class: 'Card--Action--FAB btn-floating red', method: :delete do
            i.Card--Action--FAB--Icon
              | delete
