@import "materialize/components/color";
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$secondary-color:      #26C6DA;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
@import "materialize";
@import "material_icons";
@import 'widgets';

div.content {
	width: 95%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

div.notice {
	background-color: $secondary-color;
}

ul.side-nav {
	padding-top: 20px;
}