<%= form_tag password_resets_path, :method => :post do %>
  <div class="input-field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <%= submit_tag "Reset password", class: 'btn' %>
<% end %>