<div class="card">
  <div class="card-content">
    <span class="card-title">Login</span>
    <%= render 'form' %>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Reset Password</span>
    <%= render 'forgot_password_form' %>
  </div>
</div>